<h1>Class Members</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Jméno</th>
    <th>Vybrané knihy</th>
    <th>Celkem vybraných knih</th>
    <th>
      <div class="float_right_actions"><%= link_to mi.add.md_36, new_class_member_path %></div>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @class_members.each do |class_member| %>
      <tr>
        <td><%= link_to class_member.of_name, class_member %></td>
        <td><%= class_member.books.pluck(:name).join(', ') %></td>
        <td><%= class_member.books.count %></td>
        <td>
          <div class="float_right_actions">
            <%= link_to mi.edit, edit_class_member_path(class_member) %>
            <%= link_to mi.delete, class_member, method: :delete, data: {confirm: "You sure about this?"} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
